.env
./env
./logs
.logs
/logs
/.env
test_task_env
.idea

__pycache__/
*/__pycache__/

*/*/__pycache__/
*/*/*/__pycache__/

.postgres-db-volume
./postgres-db-volume

.postgres-db-volume/
./postgres-db-volume/
*postgres-db-volume
